{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h1>History of Transactions</h1>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>shares</th>
            <th>price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
        <tr>
            <th scope="row">{{ row["symbol"] }}</th>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] | usd }}</td>
            <td>{{ row["date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}